[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Resultado Ejecución pruebaSecuencia.txt Archivo
Type=Link
URL=https://studium.usal.es/mod/resource/view.php?id=432850
Icon=text-html
Name[es_ES]=Resultado Ejecución pruebaSecuencia.txt
